@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body .main-text{
	font-family: 'Montserrat', sans-serif;
}
iframe {
	width: 100%;
	height: 480px;
	max-height: 100%;
	margin-top: 40px;
	border-radius: 10px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
}

/* Center website */
.main {
    max-width: 100%;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 13px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 33.3%;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.textcols {
	white-space: nowrap;
}
.textcols-item {
	white-space: normal;	
	display: inline-block;
	width: 48%;
	vertical-align: top;
	
}
.textcols .textcols-item:first-child {
	margin-right: 4%;
}
.main-grandfather  {
	height: 560px;
}



/*BIO*/
.content-bio {
	border-color: white;
	padding: 10px;
}

.Grandfather-bio {
	width: 30%;
	height: 480px;
	max-height: 100%;
	margin-top: 40px;
	border: solid white 8px;
	border-radius: 20px;
	float: left;
	margin: 3px 12px 0px 0px;
}
.champ1 {
	width: 30%;
	height: 560px;
	max-height: 100%;
	margin-top: 40px;
	border: solid white 8px;
	border-radius: 20px;
	float: left;
	margin: 3px 12px 0px 0px;
}
.redchamp2 {
	width: 30%;
	height: 560px;
	max-height: 100%;
	margin-top: 40px;
	border: solid white 8px;
	border-radius: 20px;
	float: left;
	margin: 3px 12px 0px 0px;
}

.champ-pod {
	width: 30%;
	height: 110px;
	max-height: 100%;
	margin-top: 0px;
	border: solid white 8px;
	border-radius: 20px;
	float: left;
	margin: 3px 12px 0px 0px;
}




/* Archive */

.war_road {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 580px;
}

.champ_line	{
	height: 560px;
	width: 300px;
}

.container {
   max-width: 640px;
    margin: 0 auto;
    padding: 20px;
}
/* Отсюда копируйте стили */
.left-col, /* левая колонка */
.right-col/* правая колонка */
{
    width: 50%;    /* ширина */
    min-width: 180px;  /* минимальная ширина сужения */
    height: auto;  /* высота */
    box-sizing: border-box;
    float: left; /* плавающие блоки */
}
.left-col{
    padding-right: 10px; /* отступ справа */
}
.right-col{
    padding-left: 10px; /* отступ слева */
}